.mail-regist-form
  .mail-regist-form__header
    .mail-regist-form__header-title
      =link_to root_path do
        = image_tag "/logo.png", size: "180x54", alt: "logo"

  .mail-regist-form__body
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      .mail-regist-form__body-inner
        .mail-regist-form__body-head
          会員情報入力
      .mail-regist-form__body-title
        .mail-regist-form__body-titlename
          ニックネーム
        .mail-regist-form__body-necessary
          必須
      .mail-regist-form__body-box
        = f.text_field :nickname, class: 'input-form',placeholder: '例） メルカリ太郎'
      .mail-regist-form__body-error
        %li.errortext ニックネームを入力してください
      .mail-regist-form__body-title
        .mail-regist-form__body-titlename
          メールアドレス
        .mail-regist-form__body-necessary
          必須
      .mail-regist-form__body-box
        = f.email_field :email, class: 'input-form',placeholder: 'PC・携帯どちらでも可'
      .mail-regist-form__body-error
        %li.errortext メールアドレスを入力してください
      .mail-regist-form__body-title
        .mail-regist-form__body-titlename
          パスワード
        .mail-regist-form__body-necessary
          必須
      .mail-regist-form__body-box
        = f.password_field :password, autocomplete: "off", class: 'input-form',placeholder: '7文字以上の半角英数字'
      .mail-regist-form__body-error
        %li.errortext パスワードを入力してください
      .mail-regist-form__body-textinfo
        ※英字と数字の両方を含めて設定してください
      .mail-regist-form__body-confirm
        .mail-regist-form__body-confirm-title
          本人確認
      .mail-regist-form__body-confirm-comment
        安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      = f.fields_for :profile do |profile|
        .mail-regist-form__body-title
          .mail-regist-form__body-titlename
            お名前(全角)
          .mail-regist-form__body-necessary
            必須
        .mail-regist-form__body-namebox
          .mail-regist-form__body-nameleft
            = profile.text_field :family_name, class: 'input-form-left',placeholder: '例） 山田'
          .mail-regist-form__body-nameright
            = profile.text_field :first_name, class: 'input-form-right',placeholder: '例） 彩'
        .mail-regist-form__body-errortext
          .mail-regist-form__body-errortext-family 
            %li.errortext 姓を入力してください
          .mail-regist-form__body-errortext-first
            %li.errortext 名を入力してください
        .mail-regist-form__body-title
          .mail-regist-form__body-titlename
            お名前カナ(全角)
          .mail-regist-form__body-necessary
            必須
        .mail-regist-form__body-namebox
          .mail-regist-form__body-nameleft
            = profile.text_field :family_name_kana, class: 'input-form-left',placeholder: '例） ヤマダ'
          .mail-regist-form__body-nameright
            = profile.text_field :first_name_kana, class: 'input-form-right',placeholder: '例） アヤ'
        .mail-regist-form__body-errortext
          .mail-regist-form__body-errortext-familykana
            %li.errortext 姓カナを入力してください
          .mail-regist-form__body-errortext-firstkana
            %li.errortext 名カナを入力してください
        .mail-regist-form__body-title
          .mail-regist-form__body-titlename
            生年月日
          .mail-regist-form__body-necessary
            必須
        .mail-regist-form__body-select
          .mail-regist-form__body-selectyear
            = profile.select 'birth_year', options_for_select(["--","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010"])
          .mail-regist-form__body-year 年
          .mail-regist-form__body-selectmonth
            = profile.select 'birth_month', options_for_select(["--","1","2","3","4","5","6","7","8","9","10","11","12"])
          .mail-regist-form__body-month 月
          .mail-regist-form__body-selectday
            = profile.select 'birth_day', options_for_select(["--","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"])
          .mail-regist-form__body-day 日
        .mail-regist-form__body-error
          %li.errortext 生年月日を入力してください
        .mail-regist-form__body-information
          ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      = f.fields_for :address do |d|
        .content__body-title
          .content__body-titlename
            郵便番号
          .content__body-necessary
            必須
        .content__body-box
          = d.text_field :post_code, class: 'input-form',placeholder: '例） 123-4567'
        .content__body-title
          .content__body-titlename
            都道府県
          .content__body-necessary
            必須
        .content__body-box
          = d.collection_select :prefecture_id, Prefecture.all, :id, :name
        .content__body-title
          .content__body-titlename
            市区町村
          .content__body-necessary
            必須
        .content__body-box
          = d.text_field :city, class: 'input-form',placeholder: '例） 横浜市緑区'
        .content__body-title
          .content__body-titlename
            番地
          .content__body-necessary
            必須
        .content__body-box
          = d.text_field :house_number, class: 'input-form',placeholder: '例） 青山1-1-1'
        .content__body-title
          .content__body-titlename
            建物名
          .content__body-unnecessary
            任意
        .content__body-box
          = d.text_field :building_name, class: 'input-form',placeholder: '例） 柳ビル103'
        .content__body-title
          .content__body-titlename
            電話
          .content__body-unnecessary
            任意
        .content__body-box
          = d.text_field :telephone_number, class: 'input-form',placeholder: '例） 09012345678'
      .mail-regist-form__body-next
        = f.submit "登録する", class: 'signup-btn'

  .mail-regist-form__footer
    .mail-regist-form__footer-policy
      .mail-regist-form__footer-policyprivacy
        =link_to "プライバシーポリシー", root_path
      .mail-regist-form__footer-policykiyaku
        =link_to "アプリ利用規約", root_path
      .mail-regist-form__footer-policytokusyo
        =link_to "特定商取引に関する表記", root_path 
    .mail-regist-form__footer-incline
      =link_to root_path do
        = image_tag "/logo-white.png",size: "200x60", alt: "visual-1"
      %p © FURIMA