.side
  %nav.mypage-menu
    %ul.mypage-menu-list
      %li.mypage-menu-list__item--info
        = link_to "マイページ", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "お知らせ", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "やることリスト", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "いいね！一覧", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "出品する", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "下書き一覧", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "出品した商品-出品中", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "出品した商品-取引中", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "出品した商品-売却済み", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "購入した商品-取引中", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "購入した商品-過去の取引", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "ニュース一覧", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "評価一覧", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "ガイド", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "お問い合わせ", class: 'btn'
    %h3.mypage-menu-list__head
      設定
    %ul.mypage-menu-list--personal
      %li.mypage-menu-list__item
        = link_to "プロフィール", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "発送元・お届け先住所変更",edit_user_path(current_user.id), class: 'btn'
      %li.mypage-menu-list__item
        = link_to "支払い方法",card_path, class: 'btn'
      %li.mypage-menu-list__item
        = link_to "メール/パスワード", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "本人情報",edit_user_path, class: 'btn'
      %li.mypage-menu-list__item
        = link_to "電話番号の確認", class: 'btn'
      %li.mypage-menu-list__item
        = link_to "ログアウト",logout_index_path(current_user.id), class: 'btn'