.edit-page
  .main
    .address-side
      %nav.mypage-menu
        %ul.mypage-menu-list
          %li.mypage-menu-list__item--info
            = link_to "マイページ", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "お知らせ", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "やることリスト", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "いいね！一覧", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "出品する", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "下書き一覧", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "出品した商品-出品中", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "出品した商品-取引中", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "出品した商品-売却済み", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "購入した商品-取引中", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "購入した商品-過去の取引", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "ニュース一覧", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "評価一覧", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "ガイド", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "お問い合わせ", class: 'btn'
        %h3.mypage-menu-list__head
          設定
        %ul.mypage-menu-list--personal
          %li.mypage-menu-list__item
            = link_to "プロフィール", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "発送元・お届け先住所変更",edit_user_path, class: 'btn'
          %li.mypage-menu-list__item
            = link_to "支払い方法", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "メール/パスワード", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "本人情報", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "電話番号の確認", class: 'btn'
          %li.mypage-menu-list__item
            = link_to "ログアウト",logout_index_path(current_user.id), class: 'btn'
    .address-form
      .content__header
        発送元・お届け先住所変更
      .content__body
        = form_for @users,new_user_path, method: :patch do |f|
          .content__body-title
            .content__body-titlename
              お名前
            .content__body-necessary
              必須
          .content__body-box
            = f.text_field :family_name, class: 'input-form',placeholder: '例） 山田'
          .content__body-box
            = f.text_field :first_name, class: 'input-form',placeholder: '例） 彩'
          .content__body-title
            .content__body-titlename
              お名前カナ
            .content__body-necessary
              必須
          .content__body-box
            = f.text_field :family_name_kana, class: 'input-form',placeholder: '例） ヤマダ'
          .content__body-box
            = f.text_field :first_name_kana, class: 'input-form',placeholder: '例） アヤ'
          .content__body-title
            .content__body-titlename
              郵便番号
            .content__body-necessary
              必須
          .content__body-box
            = f.text_field :post_code, class: 'input-form',placeholder: '例） 1234567'
          .content__body-title
            .content__body-titlename
              都道府県
            .content__body-necessary
              必須
          .content__body-box
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .content__body-title
            .content__body-titlename
              市区町村
            .content__body-necessary
              必須
          .content__body-box
            = f.text_field :city, class: 'input-form',placeholder: '例） 横浜市緑区'
          .content__body-title
            .content__body-titlename
              番地
            .content__body-necessary
              必須
          .content__body-box
            = f.text_field :house_number, class: 'input-form',placeholder: '例） 青山1-1-1'
          .content__body-title
            .content__body-titlename
              建物名
            .content__body-unnecessary
              任意
          .content__body-box
            = f.text_field :building_name, class: 'input-form',placeholder: '例） 柳ビル103'
          .content__body-title
            .content__body-titlename
              電話
            .content__body-unnecessary
              任意
          .content__body-box
            = f.text_field :telephone_number, class: 'input-form',placeholder: '例） 09012345678'

        .content__footer
          = f.submit "変更する",class: "change-btn"
      .itembtn
        =link_to new_item_path do
          .linkBtn
            %p 出品する
            = image_tag '/icon/icon_camera.png',height: "50px", width: "50px", alt: 'sell'
        
= render "/items/footer"

  