%html
  %head
    %title 会員情報登録
    = stylesheet_link_tag 'application', media: 'all'
  %body
    .account-page__inner
      .account-page__inner-header
        = link_to root_path do
          フリマアプリ
      .account-page__inner-body
        .account-page__inner-body-box
          .account-page__inner-body-title
            新規会員登録
          .account-page__inner-body-tool
            = form_for [@user] do |f|
              .account-page__inner-body-tool-mail
                = link_to "メールアドレスで登録する", new_user_registration_path,class: "mail_btn"
              .account-page__inner-body-tool-google
                = f.button  "Googoleで登録する",class: "google-btn"
              .account-page__inner-body-tool-facebook
                = f.button "Facebookで登録する",class: "facebook-btn"
              .account-page__inner-body-tool-apple
                = f.button "Appleで登録する",class: "apple-btn"
              .account-page__inner-body-comment
                登録することで、
                = link_to "利用規約", root_path 
                と
                = link_to "プライバシーポリシー", root_path 
                に
              .account-page__inner-body-comment2
                同意したものとみなされます。
      .account-page__inner-footer
        .account-page__inner-footer-policy
          .account-page__inner-footer-policy-privacy
            =link_to root_path do
              プライバシーポリシー
          .account-page__inner-footer-policy-kiyaku
            =link_to root_path do
              アプリ利用規約
          .account-page__inner-footer-policy-tokusyo
            =link_to root_path do
              特定商取引に関する表記 
        .account-page__inner-footer-logo
          =link_to root_path, class: "footer-logo" do
            %i.fa.fa-lightburb
        .account-page__inner-footer-incline
          ©️フリマアプリ.Inc
