- breadcrumb :mypage
.wrapper
  = render "side"
  .main-page
    %main.container.clearfix
      .contents2
        %section.mypage2
          %figure
            .mypage__icon
              = image_tag 'member_photo_noimage_thumb.png', height: '60', width: '60', class: "mypage__icon__link"
            %h2.mypage__nickname
              = current_user.nickname
            .mypage__number
              .mypage__number--assess
                評価 ０
              .mypage__number--displays
                出品数 ０
        %section.mypage-container
          %ul.mypage-container__tabs
            %li.mypage-container__tabs--notice
              %h3
                = link_to "お知らせ", class: 'btn'
            %li.mypage-container__tabs--todo
              %h3
                = link_to "やることリスト", class: 'btn'
    
          .mypageContents
            %ul.mypageContentsList
              %li.mypageContentsList--link
                %figure
                  .mypageContentsList--link__icon
                    = image_tag 'icon_brand.png', height: '48', width: '48', class: "mypage__tabs--content__link--icon"
                  .mypageContentsList--link__body
                    .mypageContentsList--link__text もう購入しましたか？今なら"+20%還元"
              %li.mypageContentsList--link
                %figure
                  .mypageContentsList--link__icon
                    = image_tag 'icon_brand.png', height: '48', width: '48', class: "mypage__tabs--content__link--icon"
                  .mypageContentsList--link__body
                    .mypageContentsList--link__text 《出品するだけ》最大1,000円分のポイントをもらえる！キャンペーン詳細はこちら！
              %li.mypageContentsList--link
                %figure
                  .mypageContentsList--link__icon
                    = image_tag 'icon_brand.png', height: '48', width: '48', class: "mypage__tabs--content__link--icon"
                  .mypageContentsList--link__body
                    .mypageContentsList--link__text キャッシュレス決済で商品を買うとP1,500もらえる！
              %li.mypageContentsList--link
                %figure
                  .mypageContentsList--link__icon
                    = image_tag 'icon_brand.png', height: '48', width: '48', class: "mypage__tabs--content__link--icon"
                  .mypageContentsList--link__body
                    .mypageContentsList--link__text 「本人確認後」＋「街のお店でのお買い物」でもれなくP1,000をプレゼント！
              %li.mypageContentsList--link
                %figure
                  .mypageContentsList--link__icon
                    = image_tag 'icon_brand.png', height: '48', width: '48', class: "mypage__tabs--content__link--icon"
                  .mypageContentsList--link__body
                    .mypageContentsList--link__text フリマで買うと最大でP5,000+P1,000もらえる！事前準備はこちら
              %li.mypageContentsList--display
                = link_to "一覧を見る", class: 'btn'

        %section.Purchased
          %h2.Purchased__head 購入した商品
          %ul.purchased-tabs
            %li.trade
              %h3
                取引中
            %li
              %h3
                過去の取引
          .tab-contents
            %ul.tab-contents__now
              %li.tab-contents__notfound 取引中の商品がありません


