.header
  .header__top
    = link_to root_path, class:"header__top--rogo" do
      = image_tag "/assets/logo/logo.png", size: "180x54", alt: "logo"
    .header__top--form
      %form{action: "/", method: "post"}
        %input{name: "search", size: "40", class:"input", placeholder: "キーワードから探す"}
        %input{type: "submit", value: "検索", class: "btn"}

  .header__bottom
    .header__bottom--left
      %ul.contents
        %li.content
          = link_to do
            %p カテゴリー
          %ul.nav
            - @parents.each do |parent|
              %li.parent
                = link_to do
                  = parent.name
                %ul.nav__content
                  .children-backboard
                  - parent.children.each do |child|
                    %li.child-name
                      = link_to do
                        = child.name
                      %ul.nav__content--grandchild
                        .grandchildren-backboard
                        - child.children.each do |grandchild|
                          %li.grandchild-name
                            = link_to do
                              = grandchild.name 
                    
                
        %li.content
          = link_to class: "brand" do
            %p ブランド

    .header__bottom--right
      = link_to new_user_session_path class: "login" do
        %p ログイン
      = link_to users_path class: "signin" do
        %p 新規会員登録