.header
  .header__top
    .header__top--rogo
      = image_tag "/assets/logo/logo.png", size: "180x54", alt: "logo"
    .header__top--form
      %form{action: "/", method: "post"}
        %input{name: "search", size: "40", class:"input", placeholder: "キーワードから探す"}
        %input{type: "submit", value: "検索", class: "btn"}

  .header__bottom
    .header__bottom--left
      %ul.contents
        %li.content
          = link_to do
            %p カテゴリー
          %ul.nav
            %li
              = link_to do
                レディース
              %ul.nav__content
                %li
                  = link_to do
                    トップス
                %li
                  = link_to do
                    ボトムス
                %li
                  = link_to do
                    シューズ
            %li
              = link_to do
                メンズ

            %li
              = link_to do
                キッズ


        %li.content
          = link_to class: "brand" do
            %p ブランド

    .header__bottom--right
      = link_to class: "login" do
        %p ログイン
      = link_to class: "signup" do
        %p 新規会員登録