  
= link_to item_path(item) do
  = image_tag item.images.first.image_url.url,class: "product-img"
  - if item.buyer_id.present?
    = render partial: "shared/soldout" 
  .product-content
    .product-content__upper
      = item.name
    %ul.product-content__center
      %li
        = item.price
        円
      %li
        %i.fas.fa-star
        %span
          0
    .product-content__footer
      (税込)
