.wrapper 
  .confirm-header
    .confirm-header__top-rogo
      = link_to image_tag "/assets/logo/logo.png", size: "185x49", alt: "logo"
  .container
    .products-top
      %h2.products-text
        購入内容の確認
    .products-main
      .products-main__itembox
        = image_tag @item.images.first.image_url.url if@item.images.present?
      .products-main__detail
        .products-main__detail__name
          = @item.name
        .products-main__detail__price
          %span.products-main__detail__price__ja
            送料込み(税込)
          %span.products-main__detail__price__fee
            = "#{@item.price}円"
    .buy
      .buy__content
        .buy__content__price
          %span.buy__content__price__label
            支払い金額
          %span.buy__content__price__cel
            = "#{@item.price}円"
        .buy__content__point
          %span.buy__content__point__input
          %span.buy__content__point__img
            = link_to image_tag "/assets/logo/logo.png", size: "80x18", alt: "logo"
          %span.buy__content__point__label
            ポイント
          %span.buy__content__point__cel
            所持ポイント : P0
    .user-info-pay
      .user-info-pay__box
        %h3.user-info-pay-text
          支払い方法
        %p.user-info-pay-link
          = link_to new_card_path do
            別のカードを登録する
    .user-info-delivery
      .user-info-delivery__box
        %h3.user-info-delivery-text
          配達先
        %p.user-info-delivery-link
          = link_to "配達先を変更する", "#"
    .confirm
      %p.confirm__info-text
        郵便局/コンビニ受取をご希望の方は、購入後に
        %span.products-purchase-bold  取引画面
        から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      %p.confirm__text--comment
        この配送先と支払い方法で購入する。
      - if current_user.credit_card.present?
        = link_to "購入する", purchase_item_path, class: "confirm__contact--comment"
      - else
        = link_to "クレジットカードを登録してください。", new_card_path, class: "confirm__contact--comment"
    .mypage_btn
    = link_to mypage_users_path do
      マイページへもどる
  .confirm-footer
    %ul.confirm-footer__name
      %li.footer__name__text
        = link_to "プライバシーポリシー", "#"
      %li.confirm-footer__name__text
        = link_to "フリマ利用規約", "#"
      %li.confirm-footer__name__text
        = link_to "特定商取引に関する表記", "#"
    .confirm-footer__rogo
      = link_to image_tag "/assets/logo/logo.png", size: "80x65", alt: "logo"