.wrapper
  =render "header"
  .main
    .content
      .visual
        -# background-image
      .visual__comment
        .visual__comment--subtitle
          %h1 人生を変えるフリマアプリ
        .visual__comment--text
          %p FURIMAはかんたんに出品・購入できる
          %p フリマアプリです
        .visual__comment--btn
          = link_to do
            #apple
              = image_tag '/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
          = link_to do
            #google
              = image_tag '/google-play-badge.png',height: "80px", width: "200px", alt: 'google'
    .introduction
      .title
        %h2 FURIMAが選ばれる３つの理由
      .lists
        %ul
          .list
            %li
              = image_tag "/pict-reason-01.jpg",size: "265x265", alt: "visual-1"
              %h3 3分ですぐ出品
              %p スマホで入力するだけで簡単に出品できる

            %li
              = image_tag "/pict-reason-02.jpg",size: "265x265", alt: "visual-1"
              %h3 シンプルで使いやすい
              %p めんどくさい入力は必要なく検索も購入もスムーズ！
            %li
              = image_tag "/pict-reason-03.jpg",size: "265x265", alt: "visual-1"
              %h3 手数料業界最安
              %p 最大３％でお得に出品＆購入！

    .content2
      .visual
        -# background-image
      .visual__comment
        .visual__comment--subtitle
          %h2 会員数日本一
        .visual__comment--text
          %p FURIMAはフリマアプリで最も人気。
          %p 出品・購入回数も業界最多です！
          %p 欲しかったあの商品に出会えるかもしれません。
        .visual__comment--btn
          = link_to do
            #apple
              = image_tag '/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
          = link_to do
            #google
              = image_tag '/google-play-badge.png',height: "80px", width: "200px", alt: 'google'


    .introduction
      .title
        %h2 FURIMAの特徴
      .lists
        %ul
          .list
            %li
              = image_tag "/icon-01.png",size: "140x216", alt: "visual-1"
              %h3 簡単に売り買いができる
              %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
            %li
              = image_tag "/icon-02.png",size: "140x216", alt: "visual-1"
              %h3 売上金は即日振り込みに対応
              %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
            %li
              = image_tag "/icon-03.png",size: "140x216", alt: "visual-1"
              %h3 様々な支払いに対応
              %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

    .pickup
      .pickup__category
        %h2 ピックアップカテゴリー
        %h3 新規投稿商品
        .pickup-list
          - @items.each do |item|
            = render partial: 'item', locals: {item: item}

      .pickup__brand
        %h2 ピックアップブランド
        %h3 アーカイブ
        .pickup-list
          - @brandItems.each do |item|
            = render partial: 'item', locals: {item: item}


    .content3
      .visual
        -# background-image
      .visual__comment
        #bottomVisual
          .visual__comment--text
            %p だれでもかんたん、人生を変えるフリマアプリ
          .visual__comment--subtitle
            %h2 今すぐ無料ダウンロード！
          .visual__comment--btn
            = link_to do
              #apple
                = image_tag '/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
              = link_to do
                #google
                  = image_tag '/google-play-badge.png',height: "80px", width: "200px", alt: 'google'

  - if user_signed_in?
    .btn
      =link_to new_item_path do
        .linkBtn
          %p 出品する
          = image_tag '/icon_camera.png',height: "50px", width: "50px", alt: 'sell'

  = render "footer"

