.wrapper
  .header
    .header__top
      .header__top__rogo
        = image_tag "/assets/logo/logo.png", size: "180x54", alt: "logo"
      .header__top__form
        %form{:action => "/", :method => "post"}
          %input{:name => "search", :size => "40", class:"input", placeholder: "キーワードから探す"}
          %input{:type => "submit", value: "検索", class: "btn"}

    .header__bottom
      .header__bottom__left
        %ul.contents
          %li.content
            = link_to do
              %p カテゴリー
            %ul.nav
              %li
                = link_to do
                  レディース
                %ul.nav__content
                  %li
                    = link_to do
                      トップス
                  %li
                    = link_to do
                      ボトムス
                  %li
                    = link_to do
                      シューズ
              %li
                = link_to do
                  メンズ

              %li
                = link_to do
                  キッズ


          %li.content
            = link_to class: "brand" do
              %p ブランド
            -# %ul.nav
            -#   %li
            -#     = link_to do
            -#       レディース
            -#     %ul.nav__content
            -#       %li
            -#         = link_to do
            -#           トップス
            -#       %li
            -#         = link_to do
            -#           ボトムス
            -#       %li
            -#         = link_to do
            -#           シューズ
            -#   %li
            -#     = link_to do
            -#       メンズ
            -#     %ul.nav__content
            -#       %li
            -#         = link_to do
            -#           トップス
            -#       %li
            -#         = link_to do
            -#           ボトムス
            -#       %li
            -#         = link_to do
            -#           シューズ
            -#   %li
            -#     = link_to do
            -#       キッズ
            -#     %ul.nav__content
            -#       %li
            -#         = link_to do
            -#           トップス
            -#       %li
            -#         = link_to do
            -#           ボトムス
            -#       %li
            -#         = link_to do
            -#           シューズ

      .header__bottom__right
        = link_to class: "login" do
          %p ログイン
        = link_to class: "signup" do
          %p 新規会員登録
  .main
    .content
      .visual
        = image_tag "/assets/pict/bg-mainVisual-pict_pc",width: "100%", alt: "visual-1"
      .visual__comment
        .visual__comment__subtitle
          %h1 人を変えるフリマアプリ
        .visual__comment__text
          %p FURIMAはかんたんに出品・購入できる
          %p フリマアプリです
        .visual__comment__btn
          = link_to do
            #apple
              = image_tag '/assets/icon/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
          = link_to do
            #google
              = image_tag '/assets/icon/google-play-badge.png',height: "80px", width: "200px", alt: 'google'
    .introduction
      .title
        %h2 FURIMAが選ばれる３つの理由
      .lists
        %ul
          .list
            %li
              = image_tag "/assets/pict/pict-reason-01.jpg",size: "265x265", alt: "visual-1"
              %h3 3分ですぐ出品
              %p スマホで入力するだけで簡単に出品できる

            %li
              = image_tag "/assets/pict/pict-reason-02.jpg",size: "265x265", alt: "visual-1"
              %h3 シンプルで使いやすい
              %p めんどくさい入力は必要なく検索も購入もスムーズ！
            %li
              = image_tag "/assets/pict/pict-reason-03.jpg",size: "265x265", alt: "visual-1"
              %h3 手数料業界最安
              %p 最大３％でお得に出品＆購入！

    .content2
      .visual
        = image_tag "/assets/pict/bg-topMiddleDl-pict.jpg",width: "100%", alt: "visual-1"
      .visual__comment
        .visual__comment__subtitle
          %h2 会員数日本一
        .visual__comment__text
          %p FURIMAはフリマアプリで最も人気。
          %p 出品・購入回数も業界最多です！
          %p 欲しかったあの商品に出会えるかもしれません。
        .visual__comment__btn
          = link_to do
            #apple
              = image_tag '/assets/icon/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
          = link_to do
            #google
              = image_tag '/assets/icon/google-play-badge.png',height: "80px", width: "200px", alt: 'google'


    .introduction
      .title
        %h2 FURIMAの特徴
      .lists
        %ul
          .list
            %li
              = image_tag "/assets/icon/icon-01.png",size: "140x216", alt: "visual-1"
              %h3 簡単に売り買いができる
              %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
            %li
              = image_tag "/assets/icon/icon-02.png",size: "140x216", alt: "visual-1"
              %h3 売上金は即日振り込みに対応
              %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
            %li
              = image_tag "/assets/icon/icon-03.png",size: "140x216", alt: "visual-1"
              %h3 様々な支払いに対応
              %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

    .pickup
      .pickup__category
        %h2 ピックアップカテゴリー
        %h3 新規投稿商品
        .pickup__category__lists
          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0
          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0

          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0

          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0


      .pickup__brand
        %h2 ピックアップブランド
        %h3 アーカイブ
        .pickup__category__lists
          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0
          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0

          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0

          .list
            = link_to do
              = image_tag '/assets/pict/mitte20614014_TP_V4.jpg', width:"100%", alt: 'img'
            .list__content
              .list__content__title
                %p list1
              .list__content__price
                %p 2000円
              .list__content__star
                %p ★ 0

    .content3
      .visual
        = image_tag "/assets/pict/bg-appBanner-pict.jpg",width: "100%", alt: "visual-1"
      .visual__comment
        #bottomVisual
          .visual__comment__text
            %p だれでもかんたん、人生を変えるフリマアプリ
          .visual__comment__subtitle
            %h2 今すぐ無料ダウンロード！
          .visual__comment__btn
            = link_to do
              #apple
                = image_tag '/assets/icon/Download_on_the_App_Store_Badge_JP_blk_100317.png',height: "px", width: "150px", alt: 'apple'
              = link_to do
                #google
                  = image_tag '/assets/icon/google-play-badge.png',height: "80px", width: "200px", alt: 'google'


  .footer
    .info
      %ul
        .info__title
          %li FURIMAについて
        .info__content
          %li
            =link_to "会社概要"
          %li
            =link_to "プライバシーポリシー"
          %li
            =link_to "FURIMA利用規約"
          %li
            =link_to "ポイントに関する特約"
      %ul
        .info__title
          %li FURIMAをみる
        .info__content
          %li
            =link_to "カテゴリー一覧"
          %li
            =link_to "ブランド一覧"
      %ul
        .info__title
          %li ヘルプ＆ガイド
        .info__content
          %li
            =link_to "FURIMAガイド"
          %li
            =link_to "FURIMAロゴ利用ガイドライン"
          %li
            =link_to "お知らせ"

    .logo
      =link_to do
        = image_tag "/assets/logo/logo-white.png",size: "200x60", alt: "visual-1"
      %p © FURIMA

  .btn
    =link_to do
      .linkBtn
        %p 出品する
        = image_tag '/assets/icon/icon_camera.png',height: "50px", width: "50px", alt: 'sell'